<!DOCTYPE html>
<html>
    <head>
        {#           SEO-CONFIGURATION          #}
        {% set appFullName    =  'Karali-Group' %}
        {% set appShortName   =  'karali-group'  %}
        {% set appAbbr        =  'KG'           %}
        {% set appTileColor   =  '#d6df3e'      %}
        {% set appThemeColor  =  '#d6df3e'      %}
        {% set debugMode      =  true           %}

        <meta charset="UTF-8">
        <title>{% block title %}{{ appFullName }}{% endblock %}</title>
        {% block meta %}
        <meta name="theme-color" content="{{ appThemeColor }}" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
        <meta name="msapplication-TileColor" content="{{ appTileColor }}" />
        <!-- <meta name="msapplication-TileImage" content=""> -->
        <!-- <meta name="msapplication-config" content="/media/ico/browserconfig.xml"> -->
        <meta name="MobileOptimized" content="width" />
        <meta name="HandheldFriendly" content="true" />
        <meta name="author" content="Nuke, inc."/>
        <meta name="title" content="{{ appFullName }}" />
        <!-- <meta name="keywords" content="esports, africa"/> -->
        <!-- <meta name="description" content=""> -->
        <meta property="og:locale" content="en-GB" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ appFullName }}" />
        <!-- <meta property="og:description" content="" /> -->
        <!-- <meta property="og:url" content="" /> -->
        <meta property="og:site_name" content="{{ appFullName }}" />
        <!-- <meta property="og:image" content="" /> -->
        <!-- <meta property="og:image:secure_url" content="" /> -->
        <!-- <meta property="og:image:width" content="512" /> -->
        <!-- <meta property="og:image:height" content="512" /> -->
        <!-- <meta name="nosnippet"> -->

        <!-- IOS support -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- <meta name="apple-mobile-web-app-title" content="" /> -->

        <!-- <link rel="canonical" href="" /> -->
        <link rel="icon" href="favicon.ico">
        <!-- <link rel="mask-icon" href="/media/ico/safari-pinned-tab.svg" color="#171717" /> -->
        {% endblock %}
        {% block stylesheets %}
          <link rel="stylesheet/less" type="text/css" href="assets/less/style.less" />
          <link rel="preconnect" href="https://fonts.gstatic.com" />
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.2.0/dist/sweetalert2.min.css" />
          <!-- bootstrap css -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
        {% endblock %}
    </head>
    <body>
      {% block header %}
        <div class="container header">
          <div class="row">
            <div class="col">
              <img src="https://www.karali-group.com/images/transparentlogo.png" alt="K" style="width: 60px;" />
            </div>
          </div>
        </div>
      {% endblock %}

      <div class="_prc_container"></div>
      
      {% block body %}{% endblock %}

      {% block footer %}
      <footer class="p-3 text-center">
        Made with <i style="color: red;" class="fa fa-heart"></i> by <a style="color: #444; text-decoration: underline;" target="_blank" href="https://itsyoungfox.github.io">Osunrinde Stephen</a>
      </footer>
      {% endblock %}

      {% block javascripts %}
        <script type="text/javascript">
          let Delog = function() { if ('{{ debugMode }}' != true) { console.log('[DEBUGGER] OFF'); return false; } else { console.log('[DEBUGGER] ON'); } };
          Delog.prototype.log   = (message) => { if ('{{ debugMode }}') console.log(`[LOG] ${message}`); };
          Delog.prototype.warn  = (message) => { if ('{{ debugMode }}') console.warn(`[WARN] ${message}`); };
          Delog.prototype.error = (message) => { if ('{{ debugMode }}') console.error(`[ERR] ${message}`); };
          let dlog = new Delog();
        </script>
        <script src="//cdn.jsdelivr.net/npm/less@3.13" ></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="assets/js/ajx.js" charset="utf-8"></script>
        <script src="assets/js/script.js" charset="utf-8"></script>
      {% endblock %}
    </body>
</html>
